header, footer{
  height: 100px;
}

main{
  float: right;
  height: 350px;
  /* width: 600px; */
  margin: 0 auto;
}
section{
  height: 300px;
  width: 200px;
  border: 3px solid red;
  /* float: right; */
  
  
}