h1{
  text-align: center;
}

.static{
  border: solid blue;
  position: static;
  
}
.relative1{
  border: solid rgb(57, 112, 41);
  position: relative;
}
.relative2{
  border: solid rgb(194, 4, 67);
  position: relative;
  background-color: rgb(172, 52, 52);
  width: 500px;
  left: 20px;
  top: -20px;
}
.relative{
  border: solid rgb(9, 135, 151);
  position: relative;
  width: 600px;
  height: 400px;
}
.fixed{
  border: solid rgb(225, 255, 0);
  position: fixed;
  width: 200px;
  background-color: white;
  bottom: 0;
  right: 0;
  
}
.absolute{
  border: solid rgb(204, 17, 17);
  position: absolute;
  top: 120px;
  right: 0;
  width: 300px;
  height: 200px;  
}