/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  background: black;
  width: 100%;
  height: 55px;
  color: white;
}

nav * {
  float: left;
  width: 10%;
  color: white;
  display: block;
}
nav ul {
  width: 50%;
}
nav form input {
  width: 100%;
}

header + section h1,
header + section h2 {
  float: left;
  width: 28%;
}
header + section h1 {
  margin-right: 44%;
}

/* 
header + section h2 {
  float: right;
  width: 50%;
} */

main > section {
  float: left;
  width: 48%;
  height: 600px;
  margin: 5px;
}

main > section > img {
  width: 100%;
}
main section + section section {
  float: left;
  width: 50%;
  height: 300px;
}
main section + section section img {
  width: 90%;
}
main {
  clear: both;
}
main + section section {
  width: 33.3333%;
  float: left;
}
main + section section img {
  width: 95%;
}
