/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}

/******************************************
/* LAYOUT
/*******************************************/
header,
footer {
  height: 150px;
  border: 5px solid gray;
  clear: both;
}

section {
  height: 350px;
  border: 5px solid yellow;
  width: 20%;
  float: left;
}

.bigSection {
  width: 40%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
