h1{
  text-align: center;
}

.container {
  position: relative;
  border: solid lightskyblue;
}

nav {
  position: absolute;
  left: 0px;
  width: 200px;
  border: solid rgb(230, 10, 47);
}

section{
  margin-left: 200px;
  border: solid salmon;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  border: solid greenyellow;
  width: 100%;
  background-color: white;
  text-align: center;
}

body{
  margin-bottom: 120px;
}

