h1{
  text-align: center;
}
.simple{
  width: 500px;
  margin: 20px auto;
  border: solid green;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      box-sizing: border-box;

}

.fancy{
  width: 500px;
  margin: 20px auto;
  padding: 50px;
  border: solid green;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
      box-sizing: border-box;
}